@font-face {
  font-family: "Svyaznoy Sans";
  src: url("../fonts/SvyaznoySans/svyaznoysans.otf");
}
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Svyaznoy Sans";
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.container__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
}
.container__img {
  margin: 12px auto;
  height: 32px;
}
.container__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(189, 199, 222, 0.23245);
  padding: 16px 10px;
}
.container__main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 0 130px;
  margin-bottom: 60px;
}
@media screen and (max-width: 320px) {
  .container__main {
    padding: 0 10px;
  }
}
.container__title {
  margin-top: 23px;
  color: #333;
  font-size: 32px;
}
@media screen and (max-width: 320px) {
  .container__title {
    font-size: 24px;
  }
}
.container__subtitle {
  font-size: 14px;
  margin: 10px 0;
}
.container__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.container__row_mb5 {
  margin-bottom: 5px;
}
.container__row_mb10 {
  margin-bottom: 10px;
}
.container__column {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container__column_mb5 {
  margin-bottom: 5px;
}
.container__column_mb10 {
  margin-bottom: 10px;
}
.container__footer {
  flex: 0 0 auto;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
}
@media screen and (max-width: 420px) {
  .container__footer {
    flex-direction: column;
  }
}
.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 72px;
}
.search__input {
  height: 40px;
  width: 612px;
  border: 1px solid #D9D9D9;
  padding: 7px;
  display: flex;
  flex-direction: row;
}
.search__text {
  border: none;
  width: calc(100% - 26px);
}
.search__text:focus {
  outline: none;
  border: none;
}
.search__text::placeholder {
  color: black;
  font-family: "Svyaznoy Sans";
  font-size: 14px;
}
.search__filter {
  width: 26px;
  cursor: pointer;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFC800;
  border: 1px solid #FFC800;
  color: #4C1E87;
  width: 152px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}
@media screen and (max-width: 320px) {
  .button_shrink {
    width: 40px;
  }
}
.button__text {
  font-weight: 400;
  font-size: 16px;
}
@media screen and (max-width: 320px) {
  .button__text_hidden {
    display: none;
  }
}
.button__icon {
  height: 25px;
  display: none;
}
@media screen and (max-width: 320px) {
  .button__icon_visible {
    display: block;
  }
}
@media screen and (max-width: 320px) {
  .button_dis {
    display: none;
  }
}
.button_app {
  display: none;
}
@media screen and (max-width: 320px) {
  .button_app {
    display: block;
  }
}
.filter-option {
  background-color: #00CED0;
  padding: 6px;
  border-radius: 2px;
  color: white;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
}
.filter-option > img {
  cursor: pointer;
}
.filter-option__text {
  margin-right: 7px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.card__image {
  position: relative;
}
@media screen and (max-width: 320px) {
  .card__image > img {
    width: 100%;
  }
}
.card__image:before {
  position: absolute;
  font-size: 14px;
  color: white;
  padding: 4px 6px 4px 10px;
  background-color: #FF0098;
  left: 1px;
  top: 10px;
  z-index: 10;
}
.card__image_hot:before {
  content: "Горячее предложение";
  background-color: #FF0098;
}
.card__image_rec:before {
  content: "Рекомендуем";
  background-color: #4C1E87;
}
@media screen and (max-width: 320px) {
  .card__image_dis {
    display: none;
  }
}
.card__like {
  background-image: url(../icons/like.png);
  position: absolute;
  z-index: 10;
  right: 10;
  top: 12px;
  cursor: pointer;
  height: 21px;
  width: 23px;
}
.card__like_liked {
  background-image: url(../icons/liked.png);
}
.card__nophoto {
  background-color: white;
  opacity: 0.8;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  position: absolute;
  z-index: 50;
  left: 30%;
  top: 30%;
  justify-content: space-between;
  align-items: center;
}
.card__nophoto__img {
  width: 26px;
  height: 25px;
  margin-right: 5px;
}
.card__nophoto__text {
  margin-left: 5px;
  font-size: 12px;
}
.card__content {
  width: 100%;
  height: 100%;
  border: 1px solid #D9D9D9;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.card__content:before {
  content: url(../icons/tag.png);
  position: absolute;
  top: 0;
  right: 19;
  z-index: 5;
}
@media screen and (max-width: 320px) {
  .card__content:before {
    right: 10px;
    content: url(../icons/tag_small.png);
  }
}
.card__content:after {
  content: "9,6";
  position: absolute;
  color: white;
  font-size: 20px;
  top: 13;
  right: 28;
  z-index: 10;
}
@media screen and (max-width: 320px) {
  .card__content:after {
    font-size: 16px;
    right: 17;
    top: 9;
  }
}
@media screen and (max-width: 320px) {
  .card__content {
    padding: 5px;
  }
}
.card__row {
  border-bottom: 1px solid #D9D9D9;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__row_col {
  flex-direction: row;
  justify-content: space-between;
}
.card__row_nb {
  border: none;
}
@media screen and (max-width: 320px) {
  .card__row {
    border: none;
    padding: 5px;
  }
}
.card__row_app {
  display: none;
}
@media screen and (max-width: 320px) {
  .card__row_app {
    display: flex;
  }
}
.card__star {
  color: #E6E6E6;
  font-size: 12px;
  cursor: pointer;
}
.card__star_stared {
  color: #00CED0;
}
.card__feed-back {
  color: #4A4A4A;
  font-size: 12px;
}
.card__subtext {
  font-size: 12px;
  color: #4A4A4A;
}
.card__subtext_ping {
  color: #FF0098;
}
.card__subtext_aqua {
  color: #00979F;
}
.card__subtext_violet {
  color: #4C1E87;
  cursor: pointer;
}
.card__subtext_violet > span {
  border-bottom: 1px solid #4C1E87;
}
.card__subtext_striked {
  color: #FF0098;
  text-decoration: line-through;
}
.card__info_right {
  text-align: right;
}
@media screen and (max-width: 320px) {
  .card__info_right {
    text-align: left;
  }
}
@media screen and (max-width: 320px) {
  .card__info_dis {
    display: none;
  }
}
.card__title {
  padding-right: 44px;
}
@media screen and (max-width: 320px) {
  .card__title {
    font-size: 14px;
    padding-right: 34px;
  }
}
.footer-text {
  color: #EDEDED;
  font-size: 16px;
}
@media screen and (max-width: 320px) {
  .footer-text {
    font-size: 12px;
  }
}
